<%- include('../includes/header', { config: config }); -%>

<style>

</style>

<p>Hello world</p>

<table>
    <% for(var i = 0; i < audits.length; i++) { %>
        <tr>
            <td><%= audits[i].timestamp %></td>
            <td><%= audits[i].action %></td>
            <td><%= audits[i].userName %></td>
        </tr>
    <% } %>
</table>

<%- include('../includes/footer'); -%>
